body {
  padding: 20px;
  font: 15px "Lucida Console", "Courier New", monospace;
  background-color: rgb(227, 236, 213) !important;
}

a {
  color: #ffd900;
}

.navbar {
  background-color: rgb(69, 105, 11) !important;
  padding: 20px;
}
.table thead {
  background-color: rgb(69, 105, 11) !important;
}
.table thead tr th {
  color: rgb(170, 189, 139) !important;
}
h1 {
  padding-top: 70px;
  padding-left: 520px;
  padding-bottom: 70px;
}

.heading {
  padding-left: 300px;
}

.btn {
  background-color: rgb(170, 189, 139) !important;
  color: rgb(69, 105, 11) !important;
  border: 2px solid rgb(69, 105, 11) !important;
  margin-right: 30px;
}

.top-pad {
  margin-top: 20px;
  display: inline;
}
