@media screen and (max-width: 1210) {
  h1 {
    margin-left: 50px;
    display: inline;
  }
}
@media screen and (min-width: 1210px) {
  h1 {
    margin-left: 500px;
    display: inline;
    color: rgb(45, 68, 7);
  }
}

body {
  padding: 20px;
  font: 15px "Lucida Console", "Courier New", monospace;
  background-color: rgb(227, 236, 213) !important;
}

.navbar {
  background-color: rgb(69, 105, 11) !important;
  padding: 20px;
  margin-bottom: 50px;
}

.nav-link .nav-brand {
  color: aliceblue;
}

.table {
  margin-top: 50px;
}

.table thead {
  background-color: rgb(69, 105, 11) !important;
}

.table thead tr th {
  color: rgb(255, 255, 255) !important;
}

.heading {
  padding-left: 300px;
}

.newProduct {
  display: inline;
}

.star {
  color: rgb(114, 179, 12) !important;
  margin-right: 3px;
}

.btn {
  background-color: rgb(170, 189, 139) !important;
  color: rgb(52, 82, 3) !important;
  border: 2px solid rgb(69, 105, 11) !important;
  margin-right: 30px;
  font-weight: bold;
}

.top-pad {
  margin-top: 20px;
  display: inline;
}
