extends ../layout

block content
    h1 Add New Product
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Name
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="price") Price
            input#price(type="text", class="form-control", name="price")
        .form-group
            label(for="discription") Discription
            input#discription(type="text", class="form-control", name="discription")
        .form-group
            label(for="rating") Rating (1-5)
            input#rating(type="number", min="1", max="6", class="form-control", name="rating")
        input(type="submit", class="btn btn-info")
             